# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

Dockerfile text eol=lf
Makefile text eol=lf

rpmbuild/SOURCES/parity-2.1.10/parity filter=lfs diff=lfs merge=lfs -text
